In [7]:
import numpy as np
import pandas as pd

In [8]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [9]:
df = pd.read_csv("covid_toy.csv")

In [10]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [11]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],
                                                test_size=0.2)

In [13]:
X_train

    age  gender  fever   cough       city
2    42    Male  101.0    Mild      Delhi
58   23    Male   98.0  Strong     Mumbai
68   54  Female  104.0  Strong    Kolkata
39   50  Female  103.0    Mild    Kolkata
25   23    Male    NaN    Mild     Mumbai
..  ...     ...    ...     ...        ...
90   59  Female   99.0  Strong      Delhi
8    19  Female  100.0  Strong  Bangalore
19   42  Female    NaN  Strong  Bangalore
60   24  Female  102.0  Strong  Bangalore
62   56  Female  104.0  Strong  Bangalore

[80 rows x 5 columns]

In [14]:
from sklearn.compose import ColumnTransformer

In [17]:
transformer = ColumnTransformer(transformers=[
    ('transformer1', SimpleImputer(), ['fever']),
    ('transformer2', OrdinalEncoder(categories=[['Mild', 'Strong']]), ['cough']),
    ('transformer3', OneHotEncoder(sparse_output=False, drop='first'), ['gender', 'city'])
], remainder='passthrough')

In [19]:
transformer.fit_transform(X_train).shape

(80, 7)

In [21]:
transformer.transform(X_test).shape

(20, 7)